.header {
  padding: 6px 0;
  background-color: rgb(154, 0, 0);
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (max-width: 359px) {
  .container {
    max-width: 320px;
    padding: 0 8px;
  }
}

@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
    padding: 0 8px;
  }
  .navBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 32px;
  }
}
.pageNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.link {
  color: whitesmoke;
  font-size: 22px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  text-decoration: none;

  padding: 5px 10px;
  cursor: pointer;
  transition: text-shadow 250ms ease-in-out;
  transform: scale(0.9);
}
.isActive {
  color: #ffffff;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}

.menuIcon {
  cursor: pointer;
  flex-shrink: 0;
}
.biggerScreenlink {
  display: none;
}

@media screen and (min-width: 768px) {
  .menuIcon {
    display: none;
  }
  .biggerScreenlink {
    display: block;
  }
}
