.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-basis: calc((100% - 40px) / 2);
}

.listItem {
  transition: transform 250ms cubic-bezier(0.68, 0.16, 1, 0.64);
}

.listItem:hover {
  transform: scale(1.05);
}

.poster {
  margin-bottom: 4px;
  border-radius: 8px;
  object-fit: cover;
}

.title {
  color: black;
  font-weight: 600;
  margin-bottom: 4px;
  max-width: 300px;
}
.date {
  color: black;
  font-size: 16px;
}
