.button {
  display: block;
  max-width: 150px;
  margin: 0 auto;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.68, 0.16, 1, 0.64);
}
.button:hover {
  box-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #2dff81 0px 0px 20px, #2dff81 0px 0px 30px, #2dff81 0px 0px 40px;
}
